Date type according to RFC 2425 and RFC 6350

[RFC 6350 (vCard 4.0), Section "4.3.1. DATE"](https://tools.ietf.org/html/rfc6350#section-4.3.1) states, that the format YYYY-MM-DD is disallowed.  So for v4.0 don't use this format, regardless what the user enters as "Expected date format".

On the other hand, [RFC2426 section "3.1.5 BDAY Type Definition"](https://tools.ietf.org/html/rfc2426#section-3.1.5) and [RFC2425 section "8.3.  Example 3"](https://tools.ietf.org/html/rfc2425#section-8.3) use as example YYYY-MM-DD.  [RFC2425 section "5.8.4.  Pre-defined Value Types"](https://tools.ietf.org/html/rfc2425#section-5.8.4) explains:
```
date = date-fullyear ["-"] date-month ["-"] date-mday
date-fullyear = 4 DIGIT
date-month = 2 DIGIT     ;01-12
date-mday = 2 DIGIT      ;01-28, 01-29, 01-30, 01-31
                          ;based on month/year
```
[RFC4234 ABNF, "Section OPTIONAL SEQUENCE [RULE]"](https://tools.ietf.org/html/rfc2234#section-3.8) says, that what is between [ and ] can be skipped, hence YYYYMMDD is a valid date in vCard 3.0.

Instead of confusing the user with hard to answer question about the date format, please just stick to the RFCs and use "YYYY-MM-DD" for vCard 3.0 and YYYYMMDD for vCard 4.0, or the latter for everything.

will be fixed in next version

should be OK now

In 22.0 I can still configure the "Expected date format" both on existing and on new address book.  There shouldn't be such setting.

I disagree as some servers do not follow the RFCs... 

Which servers?

look at this : https://cardbook.6660.eu/forums/topic/birthday-sync

This threat does not say, that there are correct or wrong formats to send dates to the server.  It says, that the server always normalizes the date, which is fine.

[According to RFC 2426 Section 3.1.5 BDAY Type Definition](https://tools.ietf.org/html/rfc2426#section-3.1.5) is a valid format and the server follows the RFC.

Moreover, RFCs do not state, that the servers cannot change the vCard.

If the server does not answer with an ETag header, when a resource is created/modified, this means the server has modified the uploaded data: [RFC 6352, Section 6.3.2.3](https://tools.ietf.org/html/rfc6352#section-6.3.2.3). In such cases the clients are supposed to GET the new resource.  Or when uploading a resource a "Prefer: return=representation" header is sent, in which case the server sends anyway the resource stored there.

This mechanism shall be applied always when uploading data, as the server can modify anything, not just dates.

Doing special treatments for dates wouldn't help.  In this particular case the reason for keeping the Date field, is that the server converts the dates to a YYYY-MM-DDT00:00:00Z format, while cardbook does not offer anyway this format for storing data.  So the Telekom-rewritings are not a reason to let the user choose date format, under the current settings.

thanks a lot !... setting the date format is usefull for searching birthdays (I can even detect partial dates...)... for what I've understood, these are corrects BDAY 
BDAY:19960415
BDAY:--0415
without setting the date format, I can't handle these...


19960415 and --0415 are correct birthdays, but MM-DD-YYYY or MM/DD/YYYY are not, so Cardbook shall not offer the possibility to store the dates in invalid forms.

Strictly speaking in vCard 3.0 BDAY is format date, as defined in RFC2426, page 1,1 which disallows --0415.

For vCard 3.0, even if one CardBook instance uploads data in YYYY-MM-DD format, another one can use YYYYMMDD, so to find reliably birthdays Cardbook shall look for both formats, irrespective of the settings of the current address book in CardBook.

so what do you suggest to allow CardBook to search for birthdays ? 

* When searching for birthdays in vCard 4 look for `YYYYMMDD(Twhatever)` and `--MMDD(Twhatever)`, where (Twhatever) is optional and can be anything starting with T.
* When searching for birthdays in vCard 3 look in addition to the searches in vCard 4 also for `YYYY-MM-DD(Twhatever)`
* When creating birthdays, for vCard 3 and vCard 4use `YYYYMMDD` format, or whatever the user enters
* Remove the per-address-book property "Expected date format"

this should be done in version 24.2

When I click on "Edit address book' there is still a field "Expected date format".

it's for people who want to convert their address book to the good format as I've not updated the address books and contacts having a wrong date format... I will remove it later...

I don't see why this was closed, providing that CardBook 25.2 still allows for newly imported address book to select the format of the date.

so am i right that the "_Expected date format_" is just used for `BDAY`, but all other dates are stored (and read) RFC-complient no matter what is selected?
or is this setting only used for importing `BDAY`? and is the imported date then stored RFC-complient?

...i'm a little bit confused now. :confused:
AND does this also apply to `ANNIVERSARY`?!?

this date format defines how the date is stored into vCard (for BDAY, ANNIVERSARY and DEATHDATE)... I will soon remove the possibility to choose it...

@CardBook thanks for clarification!

to sum it up (whether i understood everything right):
- by default every date is stored RFC-compliant (and soon there will be no other choice)
- but these dates are read error-tolerant like described in https://github.com/CardBook/CardBook/issues/111#issuecomment-331832278?
- but i guess they are not converted in anyway at anytime...?

to think a bit further:
wouldn't it make sense to have somewhere a button to convert every date into a RFC-compliant one (if any non RFC-compliant are present) to give the users the chance to get rid of legacy issues? - converting them automatically may sadly cause issues if you sync the address book with a not fully RFC-compliant software.

1/ 2/ OK
3/ : if you edit your address book and there you change the date format, all contacts dates will be converted towards the chosen format.

not convinced as the default is correct...

CardBook shall detect if the user has non-standard conform dates and ask/offer the user to update them (e.g. by clicking "OK") and telling the user, that all other CardDav clients shall pick the new data.

The "date format" option shall either be documented, what it means, so that it is not confusing and people do not set it on non-conform values for new objects, just because the format looks nicer to them, or removed.

The is no point to offer the user the possibility to convert its data (from RFC-conform format) to RFC-non-conform format.

Before these steps happen - ask the user to convert the data - the "Expected format" option shall not be removed, and the intention is to remove the "Expected format".